[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Name=RoxMCLauncher
Icon=/usr/RoxMCLauncher/icon.svg
Exec=sudo bash /usr/RoxMCLauncher/RMCLoader.sh
